:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}
*{
  margin: 0;
  padding: 0;
}


/* nav {
  display: flex;
  align-items: center;
  padding: 1em;
} */
.navbar-menu-container {
  display: none;
  color: white;
  font-size: x-large;
  z-index: 10;
}

.drawer{
  z-index: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: flex-end;
}

.line{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  border-top: .1px solid #8b8b8b34;
}

.Home-container{
  margin-top: 70px;
  padding-left: 7rem;
  padding-right: 7rem;
  display: flex;
  justify-content: space-between;
}

.explore{
  /* background-image: url('./assets/picturesspace/Oval.png'); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%; 
  margin-top: 8.8rem;
  color: #0B0D17;
}

.explore h3{
  color: black;
}

.text-container{
  width: 430px;
  /* max-width: 50%; */
  color: white;
}

.Home-container h3{
  font-weight: 300;
  font-size: 28px;
}

.Home-container h1{
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 150px;
}

.home-subtext{
  font-weight: 100;
  font-size: 18px;
}

/* Navbar CSS */
/* .navbars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbarss{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: white;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
} */


/* NavBar */
nav{
  padding-left: 2rem;
  padding-top: 2rem;
  /* padding-right: 2rem; */
}
.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.links-container{
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  /* padding: 2rem; */
  padding-left: 10rem;
  backdrop-filter: blur(7px);
  background: rgba(230, 224, 224, 0.027);
  z-index: 1;
  padding-top: 2.4rem;
  position: relative;
  /* background-color: aquamarine; */
}

.text {
  opacity: .8;
  color: rgba(255, 255, 255, 0.781);
}

.number{
  margin-right: 7px;
  font-weight: 500;
  letter-spacing: 1px;
}

.link{
  text-decoration: none;
  color: white;
  margin-right: 1.5rem;
  display: flex;
  padding-bottom: 2.2rem;
  border-bottom: 2px solid transparent ;
}

.none{
  text-decoration: none;
}

/* .test{
  border-bottom: 2px solid rgb(201, 29, 29) ;
} */

/* .link:hover{
  border-bottom: 2px solid white ;
} */

.N-active:hover{
  border-bottom: 2px solid white ;
}

.lineNav{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40%;
  border-top: .1px solid #8b8b8b34;
  z-index: 100;
  margin-left: 5rem;
  position: absolute;
}


.margin {
  margin-right: 7.5rem;
}

.logo-container{
  margin-right: 2rem;
}

/* Nav PORTRAIT */

.container-portrait{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.icon{
  font-size: xx-large;
  color: white;
  z-index: 1000;
}

/* .close{
  font-size: xx-large;
  color: black;
  position: absolute;
  padding-right: 20px;
  color: aliceblue;
} */

.nav-menu {
  backdrop-filter: blur(20px);
  background: rgba(230, 224, 224, 0.027);
  width: 275px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  right: 0px;
  transition: 850ms ;
  z-index: 0;
}

.nav-menu.active {
  right: -100%;
  transition: 450ms;
}

.ul{
  list-style: none;
  padding-top: 10em;
  padding-left: 1.5rem;
}

.nav-test{
  text-decoration: none;
  padding-bottom: 2rem;
  font-size: larger;
  color: white;
}

.title{
  color: white;
}

.title:hover{
  border-right: 5px solid white;
  padding-right: 9.4rem;
}

.close{
  display: flex;
  padding-left: 223px;
  padding-top: 2rem;
  position: absolute;
  width: 30px;
}

.number-p{
  margin-right: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.text-p{
  font-weight: 100;
  letter-spacing: 3px;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 2440px) {
  .logo-container-portrait{
    display: none;
  }
  .icon{
    display: none;
  }
  .nav-menu{
    display: none;
  }
}

@media (max-width: 1100px) {
  .lineNav{
    display: none;
  }
}

@media (max-width: 850px) {
  .nav-logo-container {
    /* max-width: 140px; */
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  svg{
    margin-left: 650px;
  }
  .Home-container{
    flex-direction: column;
    margin-top: 200px;
  }
  .Home-container h3{
    font-size: 20px;
    padding: 0;
  }
  .home-subtext{
    font-size: 16px;
    width: 430px;
    margin-left: 8.7rem;
  }
  .text-container{
    text-align: center;
  }
  .Home-container{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .text-container{
    width: auto;
  }
  .Home-container h1{
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 150px;
  }
  .explore{
    display: flex;
    justify-items: center;
    align-items: center;
    margin:  auto;
    margin-top: 9.8rem;
  }
}

@media (max-width: 820px) {
  .home-subtext{
    font-size: 16px;
    width: 430px;
    margin-left: 10.5rem;
  }
  .links-container{
    padding-left: 3rem;
  }
}

@media (max-width: 768px) {
  .home-subtext{
    margin-left: 8.8rem;
  }
  .Home-container{
    margin-top: 120px;
  }
}

@media only screen and (max-width: 2440px){ /* means 1440px lower */
  .imageLandscape{
    background-image: url('./assets/home/background-home-desktop.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
}

@media only screen and (max-width: 850px){
  .imageTablet{
    background-image: url('./assets/home/background-home-tablet.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .line{
    display: none;
  }
}


@media only screen and (max-width: 450px){
  .imagePortrait{
    background-image: url('./assets/home/background-home-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  svg{
    margin-left: 290px;
  }
  .Home-container{
    margin-top: 150px;
  }
  .Home-container h3{
    font-size: 16px;
  }
  .home-subtext{
    font-size: 15px;
    width: 70%;
    margin: auto;
  }
  .text-container{
    text-align: center;
  }
  .Home-container{
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .text-container{
    width: auto;
  }
  .Home-container h1{
    font-size: 80px;
  }
  .explore{
    display: flex;
    justify-items: center;
    align-items: center;
    margin:  auto;
    margin-top: 9.8rem;
  }
  .links-container{
    display: none;
  }
  .logo-container{
    display: none;
  }
  .logo-container-portrait{
    display: block;
  }
  nav{
    padding: 0rem;
  }
  .icon{
    display: block;
  }
  .nav-menu{
    display: block;
  }
}

@media only screen and (max-width: 375px){
  .Home-container{
    margin-top: 70px;
  }
  .explore{
    margin-top: 2.5rem;
  }
}